.tabpanel-container {
    display: flex; 
    align-items: center;
    width: 100%; 
    height: 50px; 
    background: #58AF24; 

    .tabs {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif; 
        font-size: 1rem;
        text-transform: uppercase;
        color: #A6F07A; 
        text-decoration: none; 
        margin: 0 2rem; 
    }

    .tabs-active {
        color: white; 
    }
}